.course-table tbody {
    display: block;
    max-height: 150px; /* Adjust this value to control the tbody height */
    overflow-y: auto;
  }
  
  .course-table thead, .course-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed; /* Ensures consistent column width */
  }
  
  .course-table tbody::-webkit-scrollbar {
    width: 5px; /* Adjust scrollbar width */
  }
  
  .course-table tbody::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* Scrollbar color */
    border-radius: 10px;
  }
  
  .course-table tbody::-webkit-scrollbar-track {
    background: transparent; /* Make scrollbar track invisible */
  }
  